<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/deposit.css">
    <title>Flask Bank</title>
</head>
<body>

    <header>
        <h1 class="logo">Flask Bank</h1>
        <ul class="menu-container">
            <li class="menu-item"><a href="">Home</a></li>

        </ul>
    </header>

    
    <div class="form-container">
        <h2 class="form-title">Detalles de depósitos</h2>
        <form action="" class="checkout-form">
            <div class="input-line">
                <label for="name">Name on card</label>
                <input type="text" name="name" id="name" placeholder="Your name and surname">
            </div>
            <div class="input-line">
                <label for="name">Card number</label>
                <input type="text" name="name" id="name" placeholder="1111-2222-3333-4444">
            </div>
            <div class="input-container">
                <div class="input-line">
                    <label for="name">Expiring Date</label>
                    <input type="text" name="name" id="name" placeholder="09-21">
                </div>
                <div class="input-line">
                    <label for="name">CVC</label>
                    <input type="text" name="name" id="name" placeholder="***">
                </div>
            </div>
            <input type="button" value="Depositar">
        </form>
    </div>

</body>
</html>